.title{
    background:white;
    text-align: center;
    padding: 10px;
}
body {
    background: #eee;
    margin: 0;
}
.post{
    background: white;
    margin-top: 20px;
}
.post img{
    width: 100%;
}
.maindiv{
    width: 50%;
    margin: 0 auto;
}
.p_footer{
    padding: 10px;
}
.header_left{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;

}
.header_right{
    font-size: 18px;
    color: gray;
    float:right;
}